<a href="https://colab.research.google.com/github/ric-clemente-ual/SAD/blob/master/TPC3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# @author: Nº 30000794 Nome: Ricardo Clemente Curso: Informática de Gestão

import sklearn.datasets as datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn.preprocessing import StandardScaler

def aggregation(data):
  
  new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
  names = data.feature_names + ["Preços"]
  
  dframe = pd.DataFrame(data=new_data, columns=names)
  
  
  return dframe.aggregate(["sum", "mean", "max"])
  
  
def sampling(data,nr_samples):
  
  new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
  names = data.feature_names + ["Preços"]
  
  dframe = pd.DataFrame(data=new_data, columns=names)
  
  
  return dframe.sample(nr_samples)


def dimentional_reduction(data):
  
  
  new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
  names = data.feature_names + ["Preços"]
  
  dframe = pd.DataFrame(data=new_data, columns=names)
  X = dframe.ix[:,0:9].values
  y = dframe.ix[:,4].values
  X_std = StandardScaler().fit_transform(X)
  mean_vec = np.mean(X_std, axis=0)
  cov_mat = (X_std - mean_vec).T.dot((X_std - mean_vec)) / (X_std.shape[0]-1)
  cov_mat = np.cov(X_std.T)

  eig_vals, eig_vecs = np.linalg.eig(cov_mat)
  print('\nEigenvalues \n%s' %eig_vals)
  tot = sum(eig_vals)
  var_exp = [ (i / tot)*100 for i in eig_vals ]
  
  
  print("vectors\n",eig_vecs)
  return "PCA:",var_exp


def feature_subset_selection(data):
  
  
  new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
  names = data.feature_names + ["Preços"]
  
  dframe = pd.DataFrame(data=new_data, columns=names)
  
  return dframe.loc[0:10,["MedInc","AveRooms","AveBedrms","Latitude","Longitude","Preços"]]
  
  
def feature_creation(data):
  
  
  new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
  names = data.feature_names + ["Preços"]
  dframe = pd.DataFrame(data=new_data, columns=names)
  x=dframe.Preços>300000
  
  dframe["CasaCara"]=x
  
  
  return dframe.head(20)


def bin(data):

  new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
  names = data.feature_names + ["Preços"]
  dframe = pd.DataFrame(data=new_data, columns=names)
  x = dframe.Preços[0:2]
  return pd.get_dummies(x)


def atribute_transf(data):
  
  new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
  names = data.feature_names + ["Preços"]
  dframe = pd.DataFrame(data=new_data, columns=names)
  
  dframe["AvgRoom_Without_AvgBedRooms"]=dframe.AveRooms-dframe.AveBedrms
  
  return dframe.head(10)

In [134]:
data = datasets.california_housing.fetch_california_housing()
aggregation(data)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Preços
sum,79890.649500,591119.000000,112054.554679,22635.375088,2.942184e+07,63378.322491,735441.620000,-2.467919e+06,4.269504e+09
mean,3.870671,28.639486,5.429000,1.096675,1.425477e+03,3.070655,35.631861,-1.195697e+02,2.068558e+05
max,15.000100,52.000000,141.909091,34.066667,3.568200e+04,1243.333333,41.950000,-1.143100e+02,5.000010e+05

In [135]:
sampling(data,10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Preços
5791,2.6268,33.0,3.626582,1.093671,2061.0,2.608861,34.14,-118.23,201300.0
18687,3.9340,18.0,5.268156,1.189944,544.0,3.039106,37.03,-121.79,228600.0
15932,3.4769,50.0,5.070312,1.070312,1170.0,3.046875,37.73,-122.40,238700.0
18434,5.0509,5.0,5.333333,1.002950,825.0,2.433628,37.26,-121.84,184800.0
18061,10.2311,31.0,8.240838,1.010471,551.0,2.884817,37.25,-122.01,500001.0
9793,5.5469,22.0,4.796703,0.997253,886.0,2.434066,36.54,-121.82,378800.0
20526,4.0370,37.0,5.093284,1.029851,952.0,3.552239,38.38,-121.61,156900.0
15495,5.1814,16.0,6.286232,1.088768,1197.0,2.168478,33.11,-117.18,279900.0
10388,8.1611,4.0,8.394872,0.982051,1312.0,3.364103,33.59,-117.64,348000.0
9934,4.3585,34.0,5.768977,0.937294,783.0,2.584158,38.27,-122.31,194400.0

In [136]:
dimentional_reduction(data)

Eigenvalues
[2.03676591 1.9753633  0.06370734 0.04380012 0.30351237 1.61207509
 0.69220059 1.26990641 1.00310492]
vectors
 [[-2.47805307e-01  3.98949034e-01 -3.47424499e-01  1.44566919e-01
   5.83837266e-01 -5.00166201e-01  1.56705096e-01 -1.48961648e-01
  -7.11194340e-03]
 [ 3.90652557e-02 -1.74391339e-01  2.15544533e-02  4.04026699e-02
   2.80408102e-01 -2.21106472e-01 -6.13525036e-01  6.42288719e-01
   2.22486071e-01]
 [-5.60200387e-01  3.15956202e-01  5.74632430e-01 -3.54066559e-01
   2.31449624e-01  2.65854859e-01 -4.41344436e-02  6.09160388e-02
   2.95854587e-02]
 [-4.70478376e-01  2.07375510e-01 -5.57571610e-01  2.77205730e-01
  -2.43465130e-01  4.75034716e-01 -1.85702820e-01  1.60396018e-01
   5.26375127e-02]
 [ 1.45947090e-01  1.18776197e-01  1.82482748e-02  1.54795423e-02
   9.37767954e-02  9.96073417e-02 -7.08901858e-01 -6.65334435e-01
   9.56982220e-03]
 [ 1.55061751e-02  2.34477444e-03  7.91164707e-03 -5.52947916e-03
  -5.42110222e-02  7.20465759e-03  1.59517704e-01 -1.58626956e-01
   9.72657052e-01]
 [-4.23629096e-01 -5.26458686e-01  3.02586597e-01  6.32137385e-01
   7.03025475e-02 -8.86864413e-02  2.62007209e-02 -1.95512184e-01
  -2.24520319e-02]
 [ 4.08498059e-01  5.01717033e-01  3.28153885e-01  6.06623135e-01
   1.06428384e-01  2.43144496e-01  7.84896476e-02  1.70235080e-01
   1.20788919e-02]
 [-1.84441831e-01  3.52990641e-01  1.95202150e-01  8.60371554e-02
  -6.63067699e-01 -5.72407941e-01 -1.66620262e-01  2.82942365e-02
   2.15090909e-04]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:38: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

('PCA:',
 [22.62963592907784,
  21.94741776749693,
  0.7078250846605793,
  0.48664444313699745,
  3.372196222204881,
  17.911077591123632,
  7.690745045151994,
  14.109387641092432,
  11.145070276054705])

In [137]:
feature_subset_selection(data)

    MedInc  AveRooms  AveBedrms  Latitude  Longitude    Preços
0   8.3252  6.984127   1.023810     37.88    -122.23  452600.0
1   8.3014  6.238137   0.971880     37.86    -122.22  358500.0
2   7.2574  8.288136   1.073446     37.85    -122.24  352100.0
3   5.6431  5.817352   1.073059     37.85    -122.25  341300.0
4   3.8462  6.281853   1.081081     37.85    -122.25  342200.0
5   4.0368  4.761658   1.103627     37.85    -122.25  269700.0
6   3.6591  4.931907   0.951362     37.84    -122.25  299200.0
7   3.1200  4.797527   1.061824     37.84    -122.25  241400.0
8   2.0804  4.294118   1.117647     37.84    -122.26  226700.0
9   3.6912  4.970588   0.990196     37.84    -122.25  261100.0
10  3.2031  5.477612   1.079602     37.85    -122.26  281500.0

In [138]:
feature_creation(data)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Preços,CasaCara
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,452600.0,True
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,358500.0,True
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,352100.0,True
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,341300.0,True
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,342200.0,True
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,269700.0,False
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,299200.0,False
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,241400.0,False
8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26,226700.0,False
9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25,261100.0,False
10,3.2031,52.0,5.477612,1.079602,910.0,2.263682,37.85,-122.26,281500.0,False
11,3.2705,52.0,4.772480,1.024523,1504.0,2.049046,37.85,-122.26,241800.0,False
12,3.0750,52.0,5.322650,1.012821,1098.0,2.346154,37.85,-122.26,213500.0,False
13,2.6736,52.0,4.000000,1.097701,345.0,1.982759,37.84,-122.26,191300.0,False
14,1.9167,52.0,4.262903,1.009677,1212.0,1.954839,37.85,-122.26,159200.0,False
15,2.1250,50.0,4.242424,1.071970,697.0,2.640152,37.85,-122.26,140000.0,False
16,2.7750,52.0,5.939577,1.048338,793.0,2.395770,37.85,-122.27,152500.0,False
17,2.1202,52.0,4.052805,0.966997,648.0,2.138614,37.85,-122.27,155500.0,False
18,1.9911,50.0,5.343675,1.085919,990.0,2.362768,37.84,-122.26,158700.0,False
19,2.6033,52.0,5.465455,1.083636,690.0,2.509091,37.84,-122.27,162900.0,False

In [139]:
bin(data)

   358500.0  452600.0
0         0         1
1         1         0

In [140]:
atribute_transf(data)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Preços,AvgRoom_Without_AvgBedRooms
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,452600.0,5.960317
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,358500.0,5.266257
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,352100.0,7.214689
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,341300.0,4.744292
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,342200.0,5.200772
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,269700.0,3.658031
6,3.6591,52.0,4.931907,0.951362,1094.0,2.128405,37.84,-122.25,299200.0,3.980545
7,3.1200,52.0,4.797527,1.061824,1157.0,1.788253,37.84,-122.25,241400.0,3.735703
8,2.0804,42.0,4.294118,1.117647,1206.0,2.026891,37.84,-122.26,226700.0,3.176471
9,3.6912,52.0,4.970588,0.990196,1551.0,2.172269,37.84,-122.25,261100.0,3.980392